OPENAI_API_KEY = "YOUR OPEN API KEY"
TIDB_DATABASE = "test"
TIDB_HOST = "gateway01.ap-northeast-1.prod.aws.tidbcloud.com"
TIDB_USER = "TIDB USER NAME"
TIDB_PASSWORD = "TIDB PASSWORD"
TIDB_CA = "TIDB CA for YOUR OS"
USER_TOKEN = "sherlock2024"